.general,
.general * {
  box-sizing: border-box;
}
.general {
  background: var(--white, #ffffff);
  padding: 0px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.hero {
  background: var(--backgound-light-blue, #f3f8ff);
  padding: 25px 29px 20px 29px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header-hero,
.header-hero * {
  box-sizing: border-box;
}
.header-hero {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.adobe-express-file-1-2-1 {
  flex-shrink: 0;
  width: 82px;
  height: 82px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
h1 {
  color: #3c4042;
  text-align: center;
  font-family: var(
    --m3-display-small-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--m3-display-small-font-size, 36px);
  line-height: var(--m3-display-small-line-height, 44px);
  font-weight: var(--m3-display-small-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-tabs {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-selected {
  background: var(--background-dark-blue, #d8e6ff) !important;
}
.general-tab {
  background: var(--white, #ffffff);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--text-black, #212121);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grammar-tab {
  background: var(--white, #ffffff);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.badge-green {
  background: var(--green, #2dad14);
  border-radius: 100px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 0px 4px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 16px;
  max-width: 34px;
  position: relative;
  overflow: hidden;
}
.badge-label {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--m3-label-small-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-small-font-size, 12px);
  line-height: var(--m3-label-small-line-height, 16px);
  letter-spacing: var(--m3-label-small-letter-spacing, 0.5px);
  font-weight: var(--m3-label-small-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vocabulary-tab {
  background: var(--white, #ffffff);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.badge-red {
  background: var(--red, #ea4335);
  border-radius: 100px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 0px 4px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 16px;
  max-width: 34px;
  position: relative;
  overflow: hidden;
}
.fluency-tab {
  background: var(--white, #ffffff);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.meeting-info {
  color: var(--blue, #0957d0);
  text-align: right;
  font-family: "DmMono-Medium", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  position: absolute;
  left: 35px;
  top: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.general-tab-body {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--background-dark-blue, #d8e6ff);
  border-width: 2px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.general-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon {
  color: #1f1f1f;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 500;
  position: relative;
  width: 25px;
  height: 24px;
}
.h-2-header {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 500;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-565 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.paragraph {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.general-cards {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  max-width: 710px;
  position: relative;
}
.scale-card {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.frame-564 {
  border-radius: 7.2px;
  padding: 17.28px 0px 17.28px 0px;
  display: flex;
  flex-direction: column;
  gap: 7.2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 170.19px;
  position: relative;
}
.group-564 {
  flex-shrink: 0;
  width: 307.07px;
  height: 174.85px;
  position: static;
}
.background {
  width: 165px;
  height: 132px;
  position: absolute;
  left: 71.48px;
  top: 26.32px;
  overflow: visible;
}
.frame-420 {
  display: flex;
  flex-direction: column;
  gap: 0.87px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 66.94px;
  height: 26.56px;
  position: absolute;
  left: 0.46px;
  top: 142.59px;
}
.title {
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  width: 66.94px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.title-span {
  color: var(--text-black, #212121);
}
.title-span2 {
  color: var(--text-primary, rgba(255, 255, 255, 0.85));
}
.title-span3 {
  color: var(--red, #ea4335);
}
.frame-421 {
  display: flex;
  flex-direction: column;
  gap: 0.87px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 66.94px;
  height: 30.19px;
  position: absolute;
  left: 240.59px;
  top: 142.33px;
}
.title2 {
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  width: 66.94px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-2-span {
  color: var(--text-black, #212121);
}
.title-2-span2 {
  color: var(--text-primary, rgba(255, 255, 255, 0.85));
}
.title-2-span3 {
  color: var(--green, #2dad14);
}
.frame-422 {
  display: flex;
  flex-direction: column;
  gap: 0.87px;
  align-items: center;
  justify-content: flex-start;
  width: 66.94px;
  height: 26.56px;
  position: absolute;
  left: 121px;
  top: -2.33px;
}
.title3 {
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  width: 66.94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-3-span {
  color: var(--text-black, #212121);
}
.title-3-span2 {
  color: var(--text-primary, rgba(255, 255, 255, 0.85));
}
.title-3-span3 {
  color: var(--green, #2dad14);
}
.frame-569 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.h-3-header2 {
  color: rgba(33, 33, 33, 0.5);
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reduce-the-number-of-filler-words-and-expand-your-vocabulary-to-achieve-a-better-score {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.speed-scale {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header3 {
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  overflow: hidden;
}
.boring {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: var(
    --title-3-emphasized-font-family,
    "SfPro-Semibold",
    sans-serif
  );
  font-size: var(--title-3-emphasized-font-size, 15px);
  line-height: var(--title-3-emphasized-line-height, 22px);
  letter-spacing: var(--title-3-emphasized-letter-spacing, -0.01em);
  font-weight: var(--title-3-emphasized-font-weight, 600);
  position: absolute;
  left: 249px;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.scale {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.polygon-1 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 259px;
  top: 23px;
  transform: translate(0.54px, -6px);
  overflow: visible;
}
.bottom {
  align-self: stretch;
  flex-shrink: 0;
  height: 14px;
  position: relative;
  overflow: hidden;
}
._150 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 220px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._120 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 70px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.normal {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: -0.16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fast {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 276px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.boring2 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.share-button {
  background: var(--blue, #0957d0);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-text {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return-button {
  border-radius: 100px;
  border-style: solid;
  border-color: var(--text-grey, #5f6367);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.label-text2 {
  color: var(--blue, #0957d0);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grammar-tab-body,
.grammar-tab-body * {
  box-sizing: border-box;
}
.grammar-tab-body {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--background-dark-blue, #d8e6ff);
  border-width: 2px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grammar-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.grammar-header2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grammar-cards {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  max-width: 710px;
  position: relative;
}
.grammar-card {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.text-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.your-errors-in-using-a-an-or-the {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grammar-errors {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grammar-error {
  background: var(--white, #ffffff);
  border-radius: 8px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(200, 217, 247, 1);
  overflow: hidden;
}
.she-swim-is-swimming-in-the-pool-now {
  text-align: left;
  font-family: var(--body-medium-font, "Roboto-Regular", sans-serif);
  font-size: var(--body-medium-size, 14px);
  line-height: var(--body-medium-line-height, 20px);
  letter-spacing: var(--body-medium-tracking, 0.25px);
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.she-swim-is-swimming-in-the-pool-now-span {
  color: #000000;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
}
.she-swim-is-swimming-in-the-pool-now-span2 {
  color: var(--red, #ea4335);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}
.she-swim-is-swimming-in-the-pool-now-span3 {
  color: var(--green, #2dad14);
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
}
.info-circle-fill-1 {
  flex-shrink: 0;
  width: 16.34px;
  height: 15.95px;
  position: relative;
  overflow: hidden;
}
.influence-on-so-many-people {
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.influence-on-so-many-people-span {
  color: #000000;
}
.influence-on-so-many-people-span2 {
  color: var(--green, #2dad14);
}
.group2 {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
.your-errors-in-using-verb-tenses-or-forms {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grammar-error2 {
  background: var(--white, #ffffff);
  border-radius: 10px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 308px;
  height: 44px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(200, 217, 247, 1);
  overflow: hidden;
}
.influence-on-so-many-people-span {
  color: #000000;
}
.influence-on-so-many-people-span2 {
  color: var(--green, #2dad14);
}
.group3 {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
.vocabulary-tab-body,
.vocabulary-tab-body * {
  box-sizing: border-box;
}
.vocabulary-tab-body {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--background-dark-blue, #d8e6ff);
  border-width: 2px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vocabulary-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.paragraph {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vocabulary-cards {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  max-width: 710px;
  position: relative;
}
.synonyms {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.stronger-alternatives-to-the-words-you-used {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.synonyms-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.synonyms-card {
  background: var(--white, #ffffff);
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 308px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(200, 217, 247, 1);
  overflow: hidden;
}
.synonyms-card-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.a-small-company-but-growing-fast {
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-small-company-but-growing-fast-span {
  color: var(--text-black, #212121);
}
.a-small-company-but-growing-fast-span2 {
  color: var(--red, #ea4335);
}
.words {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.word {
  background: #ebf8e9;
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.boutique {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.compact {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modest {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
.make-better-planning-and-organize-tasks-more-good {
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.make-better-planning-and-organize-tasks-more-good-span {
  color: var(--text-black, #212121);
}
.make-better-planning-and-organize-tasks-more-good-span2 {
  color: var(--red, #ea4335);
}
.more-effective {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.improved {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.optimized {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group2 {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
.rephrasing {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.improve-phrasing-to-sound-more-like-a-native {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rephrasing-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rephrasing-card {
  background: var(--white, #ffffff);
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 308px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(200, 217, 247, 1);
  overflow: hidden;
}
.rephrasing-card-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.you-said {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.you-said2 {
  color: var(--red, #ea4335);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-help-businesses-like-yours-to-make-better-planning-and-organize-tasks-more-good {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.better-to-say {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.better-to-say2 {
  color: var(--green, #2dad14);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-help-businesses-like-yours-streamline-planning-and-organize-tasks-more-efficiently {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group3 {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
.we-are-a-small-company-but-growing-fast {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-re-a-growing-startup-making-waves-in-the-industry {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group4 {
  width: 97.51%;
  height: 99.95%;
  position: absolute;
  right: 2.49%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}

.fluency-tab-body,
.fluency-tab-body * {
  box-sizing: border-box;
}
.fluency-tab-body {
  border-radius: 20px;
  border-style: solid;
  border-color: var(--background-dark-blue, #d8e6ff);
  border-width: 2px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.paragraph {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fluency-cards {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  max-width: 710px;
  position: relative;
}
.fillers-card {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.h-3-header {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.colored-label {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.red-label {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.great-job {
  color: var(--red, #ea4335);
  text-align: left;
  font-family: var(
    --body-small-strong-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-strong-font-size, 14px);
  line-height: var(--body-small-strong-line-height, 140%);
  font-weight: var(--body-small-strong-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.that-is-4-of-your-speech {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--var-sds-typography-body-font-family, "-", sans-serif);
  font-size: var(--var-sds-typography-body-size-small, 14px);
  line-height: var(--body-medium-line-height, 0undefined);
  letter-spacing: var(--body-medium-tracking, 0undefined);
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.that-is-4-of-your-speech-span {
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
}
.that-is-4-of-your-speech-span2 {
  font-family: var(--body-small-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-small-font-size, 14px);
  line-height: var(--body-small-line-height, 140%);
  font-weight: var(--body-small-font-weight, 400);
}
.histogram {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.histogram-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filler {
  background: var(--background-dark-blue, #d8e6ff);
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 203px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.filler-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 4px;
}
.supporting-text {
  color: var(--blue, #0957d0);
  text-align: left;
  font-family: var(
    --m3-label-large-prominent-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--m3-label-large-prominent-font-size, 14px);
  line-height: var(--m3-label-large-prominent-line-height, 20px);
  letter-spacing: var(--m3-label-large-prominent-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-prominent-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.supporting-text2 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filler2 {
  background: var(--background-dark-blue, #d8e6ff);
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 112px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.pace-card {
  background: var(--backgound-light-blue, #f3f8ff);
  border-radius: 20px;
  padding: 24px 20px 28px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 348px;
  position: relative;
}
.h-3-header2 {
  color: var(--text-black, #212121);
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.great-job2 {
  color: var(--red, #ea4335);
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--var-sds-typography-body-size-small, 14px);
  line-height: 140%;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.it-s-faster-than-the-recommended-level {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.speed-scale {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header3 {
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  overflow: hidden;
}
.boring {
  color: #090909;
  text-align: left;
  font-family: var(
    --title-3-emphasized-font-family,
    "SfPro-Semibold",
    sans-serif
  );
  font-size: var(--title-3-emphasized-font-size, 15px);
  line-height: var(--title-3-emphasized-line-height, 22px);
  letter-spacing: var(--title-3-emphasized-letter-spacing, -0.01em);
  font-weight: var(--title-3-emphasized-font-weight, 600);
  position: absolute;
  left: 249px;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.scale {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.polygon-1 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 259px;
  top: 23px;
  transform: translate(0.54px, -6px);
  overflow: visible;
}
.bottom {
  align-self: stretch;
  flex-shrink: 0;
  height: 14px;
  position: relative;
  overflow: hidden;
}
._150 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(
    --subheadline-regular-font-family,
    "SfPro-Regular",
    sans-serif
  );
  font-size: var(--subheadline-regular-font-size, 11px);
  line-height: var(--subheadline-regular-line-height, 14px);
  font-weight: var(--subheadline-regular-font-weight, 400);
  position: absolute;
  left: 225px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._120 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(
    --subheadline-regular-font-family,
    "SfPro-Regular",
    sans-serif
  );
  font-size: var(--subheadline-regular-font-size, 11px);
  line-height: var(--subheadline-regular-line-height, 14px);
  font-weight: var(--subheadline-regular-font-weight, 400);
  position: absolute;
  left: 57px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.normal {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(
    --subheadline-regular-font-family,
    "SfPro-Regular",
    sans-serif
  );
  font-size: var(--subheadline-regular-font-size, 11px);
  line-height: var(--subheadline-regular-line-height, 14px);
  font-weight: var(--subheadline-regular-font-weight, 400);
  position: absolute;
  left: 139px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fast {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(
    --subheadline-regular-font-family,
    "SfPro-Regular",
    sans-serif
  );
  font-size: var(--subheadline-regular-font-size, 11px);
  line-height: var(--subheadline-regular-line-height, 14px);
  font-weight: var(--subheadline-regular-font-weight, 400);
  position: absolute;
  left: 267px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.boring2 {
  color: var(--text-grey, #5f6367);
  text-align: left;
  font-family: var(
    --subheadline-regular-font-family,
    "SfPro-Regular",
    sans-serif
  );
  font-size: var(--subheadline-regular-font-size, 11px);
  line-height: var(--subheadline-regular-line-height, 14px);
  font-weight: var(--subheadline-regular-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
